.fotbollsplan1 {
  width: 54%;
  display: block;
  margin: auto;
}
.football-field {
  width: 500px;
  height: 200px;
}

.player {
  position: absolute;
  width: 36px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Consolas, sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(6, 6, 6);   
}
.goalie {
  top: 650px;
  left: 610px;
  background-color: rgb(20, 169, 20);
}
.left-back {
  top: 560px;
  left: 420px;
  background-color: lightblue;
}
.center-back1 {
  top: 560px;
  left: 535px;
  background-color: lightblue;
}
.center-back2 {
  top: 560px;
  left: 665px;
  background-color: lightblue;
}
.right-back {
  top: 560px;
  left: 785px;
  background-color: lightblue;
}

.left-mid {
  top: 350px;
  left: 467px;
  background-color: rgb(178, 163, 30);
}
.center-mid {
  top: 430px;
  left: 610px;
  background-color: rgb(168, 154, 29);
}
.right-mid {
  top: 350px;
  left: 742.5px;
  background-color: rgb(171, 157, 26);
}

.left-striker {
  top: 230px;
  left: 420px;
  background-color: rgb(206, 45, 28);
}
.center-striker {
  top: 230px;
  left: 610px;
  background-color: rgb(195, 45, 29);
}
.right-striker {
  top: 230px;
  left: 785px;
  background-color: rgb(204, 45, 27);
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}






